:root {
    --White: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue: hsl(218, 44%, 22%);

}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    background-color: var(--Lightgray);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

section {
    background-color: white;
    max-height: 41rem;
    max-width: 17rem;
    text-align: center;
    border-radius: 1rem;

    .code {
    padding: 1rem;

        img {
            height: 15rem;
            border-radius: .7rem;
        }

    }

    .texts {
        font-size: 1rem;
        font-family: "Outfit";
        padding: 0 1rem 1.4rem;

        h2 {
            font-size: 1rem;
            padding: 0 1rem;
            color: var(--Darkblue);
        }

        p {
            font-size: .6rem;
            color: var(--Grayishblue);
            padding: 0 1.999rem;
        }
    }
}